<h3>CD Detail</h3>
<div class="cd-detail=form" [formGroup]="childForm">
  <div class="form-group">
    <label for="length-in-seconds">Length in Seconds</label>
    <input name="numPages" class="form-control" type="number" id="length-in-seconds" formControlName="lengthInSeconds" />
  </div>
  <div class="form-group">
    <label for="edition">Songs</label>
    <input type="text" class="form-control" id="edition" formControlName="songs" />
  </div>
</div>
