<h3>DVD Detail</h3>
<div class="cd-detail=form" [formGroup]="childForm">
  <div class="form-group">
    <label for="length-in-seconds">Length in Seconds</label>
    <input name="numPages" class="form-control" type="number" id="length-in-seconds" formControlName="lengthInSeconds" />
  </div>
  <div class="form-group">
    <label for="tracks">Tracks</label>
    <input name="tracks" class="form-control" type="text" id="tracks" formControlName="tracks" />
  </div>
  <div class="form-group form-check">
    <input name="isBlueRay" class="form-check-input" type="checkbox" id="blueray" formControlName="isBlueRay" />
    <label for="blueray" class="form-check-label">BlueRay</label>
  </div>
</div>
