<div class="w-50 shadow rounded p-3 mb-5 bg-light">
  <form [formGroup]="formDefinition" (ngSubmit)="onFormSubmit()">
    <div *ngIf="createNewLibraryItem" class="form-group">
      <label for="type">Type</label>
      <select name="type" id="type"
              class="form-control"
              formControlName="type"
              (change)="onMediaTypeSelectionChanged($event)">
        <option *ngFor="let option of iterableContentTypes" value="{{ option.id }}">{{ option.label }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="artist-or-author">Artist or Author</label>
      <input name="artistOrAuthor" type="text" class="form-control"
             id="artist-or-author" formControlName="artistOrAuthor" />
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" class="form-control" formControlName="title" />
    </div>
    <div class="form-group">
      <label for="year-released">Year Released</label>
      <input type="number" class="form-control" id="year-released" formControlName="yearReleased" />
    </div>
    <div class="form-group">
      <label for="dewey-index">Dewey Index</label>
      <input type="text" class="form-control" id="dewey-index" formControlName="deweyIdx" />
    </div>
    <div class="form-group" id="item-detail-container">
      <div #itemDetail></div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
<pre class="border p-3">{{ this.formDefinition.value | json }}</pre>
