<div>
  <ol>
    <li *ngFor="let libraryItem of libraryItemList">
      <a [routerLink]="['/list', libraryItem.id]">
        <div>{{ libraryItem.artistOrAuthor }}</div>
        <div>{{ libraryItem.title }} ({{ libraryItem.yearReleased }})</div>
      </a>
    </li>
  </ol>
</div>
