<h3>Book Detail</h3>
<div class="book-detail-form" [formGroup]="childForm">
  <div class="form-group">
    <label for="number-of-pages">Year Released</label>
    <input name="numPages" class="form-control" type="number" id="number-of-pages" formControlName="numPages" />
  </div>
  <div class="form-group">
    <label for="edition">Edition</label>
    <input type="text" class="form-control" id="edition" formControlName="edition" />
  </div>
</div>
